*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove outline on mousedown events */
.mousedown *:focus {
  outline: 0;
}

/* increase spacing in outline */
*:focus {
  outline-offset: 5px;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;
  color: $color-secondary-light;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

.App {
  background: $color-primary;
  min-height: 100vh;
}

.container {
  padding: 4rem 3.7rem;

  @include respond(tab-land) {
    margin-left: 33rem;
    padding: 7.4rem 3.7rem;
  }

  @include respond(desktop) {
    padding: 7.4rem 15.5rem;
  }
}
