.icon-rotate {
  transform: rotate(45deg);
}

.button {
  text-transform: uppercase;
  min-height: 4rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease;

  &--icon {
    min-width: 4rem;
  }

  &--complete {
    min-width: 12.3rem;
    background-color: $button-complete;
    color: $color-white;
  }

  &--add-task {
    background-color: $color-primary;
    color: $color-tertiary;
    min-width: 9rem;
  }

  &--active {
    background-color: $button-active;
    color: $color-secondary-light;

    &:hover {
      background-color: $button-hover;
    }
  }
}
