// COLORS
$color-primary: #202a43;
$color-primary-dark: #141b2c;
$color-primary-darker: #212944;

$color-secondary-light: #cbddf0;
$color-secondary-dark: #a9c8e8;

$button-active: #4589c8;
$button-hover: #74ade2;

$checkbox-hover: #27334f;

$color-tertiary: #425277;

$color-success: #82c94e;

$button-complete: #83ca4d;
$button-complete-active: #9AC678;

$color-red: #cd5050;

$color-white: #fff;
$color-black: #000;
$color-overlay: #020713;

$color-border: #1f2942;

//RADIUS
$base-radius: 12px;
