// COLORS
$color-primary: #202A43;
$color-primary-dark: #141B2C;
$color-primary-darker: #212944;

$color-secondary-light: #CBDDF0;
$color-secondary-dark: #A9C8E8;

$button-active:#4589C8;
$button-hover:#74ADE2;

$checkbox-hover: #27334F;

$color-tertiary: #425277;

$color-success: #82C94E;
$color-red: #CD5050;

$color-white: #fff;
$color-black: #000;
$color-overlay: #020713;

$color-border: #1F2942;


// FONT
$default-font-size: 1.6rem;

//RADIUS
$base-radius: 12px;