.modal-overlay {
  background-color: $color-overlay;
  opacity: 0.9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 6rem;
  left: 0;
}

.modal {
  border-radius: $base-radius;
  background-color: $color-primary-dark;

  &__title {
    font-size: 1.6rem;
    padding: 2rem 2.5rem;
    border-bottom: 1px solid $color-border;
  }

  &--top {
    margin: 10rem 3.5rem;
  }

  &--center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 3.5rem;
  }
}
