.sidebar {
    background-color: $color-primary-dark;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    font-size: 1.6rem;
    padding: 4rem;
    min-width: 33rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  
    &__item {
      display: flex;
      align-items: center;
      height: 5rem;
      margin-bottom: 1rem;
      padding: 1.2rem 2rem;
      border-radius: $base-radius;
      color: $color-secondary-dark;
  
      svg {
        margin-right: 1rem;
      }
  
      &--dashboard {
        justify-content: space-between;
      }
  
      &--selected {
        background-color: $color-primary-darker;
        color: $color-white;
      }
  
      &--last {
        margin-top: auto;
      }
    }
  }
  